<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<appender name="fiveware-test-service" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>false</prudent>
		<file>/log/fiveware-test-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/log/fiveware-test-service.%d.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%logger|%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%logger|%msg%n</pattern>
		</layout>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="fiveware-test-service" />
	</root>

</configuration>